section.dh-khuyenmai
    .dh-container
        .row.no-gutters.list-item
            -for(i=0;i<20;i++)
                .col-lg-4.package
                    .item(data-speed='3')._yellow
                        .heading
                            h4 BASAS HIGH TOP
                        .body
                            .img
                                img(src="./img/home/product/1a.jpg", alt="")
                            .price
                                p 360.000 VND
                            .code
                                p A60010 - DARK BLUE
                            .button
                                a(href="javascript:void(0)")._yellow
                                    span.button-main Chi tiết
                                    span.button-circle 
        .viewAll
            a(href="javascript:void(0)")
                em.mdi-arrow-down.mdi