section.dh-tintuc-ds
    .dh-container
        .row.no-gutters
            -for(i = 0;i<15;i++)
                .col-lg-6.item
                    a(href="javascript:void(0)")
                        figure
                            .img
                                img(src="./img/tintuc/1.png", alt="")
                            figcaption
                                .title
                                    h5 Những mẫu giày cô nàng U20 nhất định phải có!
                                .time
                                    p 03.01.2019
        .viewAll
            a(href="javascript:void(0)")
                em.mdi-arrow-down.mdi