section.dh-home-1
    .container
        .row.no-gutters
            .col-lg-6
                h2 Giày dép 
                    br
                    | chất lượng cao
        .row
            .col-lg-6.offset-lg-6
                p Cảm hứng của thương hiệu HUG chính là mục tiêu xây dựng được một thương hiệu giày dép hàng đầu, chất lượng tiêu chuẩn xuất khẩu quốc tế và giá bán hợp lý, phù hợp với người tiêu dùng Việt Nam.