section.dh-home-2
	.dh-container
		.swiper-container.swiper-top
			.swiper-wrapper
				.swiper-slide
					.item.active
						.heading
							span Bộ sưu tập
						.label
							span BASAS 2019
				.swiper-slide
					.item
						.heading
							span Bộ sưu tập
						.label
							span BASAS 2019
				.swiper-slide
					.item
						.heading
							span Bộ sưu tập
						.label
							span BASAS 2019
				.swiper-slide
					.item
						.heading
							span Bộ sưu tập
						.label
							span BASAS 2019
				.swiper-slide
					.item
						.heading
							span Bộ sưu tập
						.label
							span BASAS 2019
			.swiper-scrollbar
		.swiper-container.swiper-bottom
			.swiper-wrapper
				.swiper-slide
					.item
						.content
							h3 The Military Pack
							p Từ phong cách bất hủ không bao giờ cũ đến các tông màu khuấy đảo đường phố, chúng tôi luôn dành cho bạn những lựa chọn phù hợp với túi tiền.
						.img
							img(src="./img/home/step/step_01.jpg", alt="")
				.swiper-slide
					.item
						.content
							h3 The Military Pack
							p Từ phong cách bất hủ không bao giờ cũ đến các tông màu khuấy đảo đường phố, chúng tôi luôn dành cho bạn những lựa chọn phù hợp với túi tiền.
						.img
							img(src="./img/home/step/step_02.png", alt="")
				.swiper-slide
					.item
						.content
							h3 The Military Pack
							p Từ phong cách bất hủ không bao giờ cũ đến các tông màu khuấy đảo đường phố, chúng tôi luôn dành cho bạn những lựa chọn phù hợp với túi tiền.
						.img
							img(src="./img/home/step/step_03.jpg", alt="")
				.swiper-slide
					.item
						.content
							h3 The Military Pack
							p Từ phong cách bất hủ không bao giờ cũ đến các tông màu khuấy đảo đường phố, chúng tôi luôn dành cho bạn những lựa chọn phù hợp với túi tiền.
						.img
							img(src="./img/home/step/step_04.png", alt="")
				.swiper-slide
					.item
						.content
							h3 The Military Pack
							p Từ phong cách bất hủ không bao giờ cũ đến các tông màu khuấy đảo đường phố, chúng tôi luôn dành cho bạn những lựa chọn phù hợp với túi tiền.
						.img
							img(src="./img/home/step/step_05.png", alt="")