section.dh-tinkhac
    .dh-container
        .dh-title
            h3 Tin khác
        .swiper-next.swiper-nav
            em.mdi.mdi-chevron-right
        .swiper-prev.swiper-nav
            em.mdi.mdi-chevron-left
        .swiper-container
            .swiper-wrapper
                .swiper-slide
                    a(href="javascript:void(0)")
                        figure
                            .img
                                img(src="./img/tintuc/3.png", alt="")
                            figcaption
                                .title
                                    h5 Những mẫu giày cô nàng U20 nhất định phải có!
                                .time
                                    p 03.01.2019
                .swiper-slide
                    a(href="javascript:void(0)")
                        figure
                            .img
                                img(src="./img/tintuc/3.png", alt="")
                            figcaption
                                .title
                                    h5 Những mẫu giày cô nàng U20 nhất định phải có!
                                .time
                                    p 03.01.2019
                .swiper-slide
                    a(href="javascript:void(0)")
                        figure
                            .img
                                img(src="./img/tintuc/3.png", alt="")
                            figcaption
                                .title
                                    h5 Những mẫu giày cô nàng U20 nhất định phải có!
                                .time
                                    p 03.01.2019
                .swiper-slide
                    a(href="javascript:void(0)")
                        figure
                            .img
                                img(src="./img/tintuc/3.png", alt="")
                            figcaption
                                .title
                                    h5 Những mẫu giày cô nàng U20 nhất định phải có!
                                .time
                                    p 03.01.2019
                .swiper-slide
                    a(href="javascript:void(0)")
                        figure
                            .img
                                img(src="./img/tintuc/3.png", alt="")
                            figcaption
                                .title
                                    h5 Những mẫu giày cô nàng U20 nhất định phải có!
                                .time
                                    p 03.01.2019