footer.dh-footer
	.container
		.top-nav
			.first-nav
				ul
					li
						a(href="javascript:void(0)") Bộ sưu tập
					li
						a(href="javascript:void(0)") Nam
					li
						a(href="javascript:void(0)") Nữ
					li
						a(href="javascript:void(0)") Trẻ em
					li
						a(href="javascript:void(0)") Khuyến mãi
					li
						a(href="javascript:void(0)") Blog
			.last-nav
				.language
					a(href="javascript:void(0)") English
				.user
					a(href="javascript:void(0)") Đăng nhập
				.shopping
					a(href="javascript:void(0)")
						img(src="./img/shopping.png", alt="")
				.heart
					a(href="javascript:void(0)")
						img(src="./img/heart.png", alt="")
		.main-nav
			.content
				.lg1-2
					.nav-list-active
						.title
							h5 VỀ HUG
						ul
							li
								a(href="javascript:void(0)") Thẻ thành viên
							li
								a(href="javascript:void(0)") Câu chuyện thương hiệu
							li
								a(href="javascript:void(0)") Tuyển dụng
							li
								a(href="javascript:void(0)") Hỏi đáp
							li
								a(href="javascript:void(0)") Chính sách và điều khoản
							li
								a(href="javascript:void(0)") Trở thành nhà phân phối
							li
								a(href="javascript:void(0)") Liên hệ
					.newsletter
						.title
							h5 ĐĂNG KÝ NHẬN BẢN TIN
						.input
							input(type="text" placeholder='dinhlong@canhcam.vn')
				.lg1-2
					.hotline
						.title
							h4 Bạn có thắc mắc cần giải đáp? Vui lòng liên hệ HOTLINE
						.button
							a(href="javascipt:void(0)")
								span.button-main 0123 456 789
								span.button-circle
		.bottom-nav
			p Copyright 2019 HUG.
			p Website by Cánh Cam
	.footer-circle