section.dh-bosuutap
    .dh-container
        .item
            .row
                .col-xl-5.align-seft-center
                    .content
                        h5 The Military pack
                        p Từ phong cách bất hủ không bao giờ cũ đến các tông màu khuấy đảo đường phố, chúng tôi luôn dành cho bạn những lựa chọn phù hợp với túi tiền.
                .col-xl-7
                    .img
                        img(src="./img/home/step/step_01.jpg", alt="")