section.dh-home-6
	.dh-container
		.wrapper
			.row.no-gutters
				.col-lg-6.item
					a(href="javascript:void(0)")
						figure
							.img
								img(src="./img/home/blog/news1.jpg", alt="")
							figcaption
								.small
									span blog
								.title
									p Trẻ trung hơn, nữ tính hơn với những items đơn giản cho nàng công sở
								.time
									span 24.10.2018
				.col-lg-6.item
					a(href="javascript:void(0)")
						figure
							.img
								img(src="./img/home/blog/news2.jpg", alt="")
							figcaption
								.small
									span blog
								.title
									p Trẻ trung hơn, nữ tính hơn với những items đơn giản cho nàng công sở
								.time
									span 24.10.2018
			.button
				a(href="javascript:void(0)") Xem tất cả