section.dh-home-5
    .wrapper
        .dh-circle
        .swiper-container
            .swiper-wrapper
                .swiper-slide
                    .heading
                        .small
                            span Theo dấu chân ngôi sao
                        .title
                            h3 Hoa hậu hoàn vũ
                                br
                                | Đình Long
                    .img
                        img(src="./img/home/attachments/sao1.jpg", alt="")
                    .info
                        span Bộ sưu tập
                        p Chinh phục đỉnh cao
                .swiper-slide
                    .heading
                        .small
                            span Theo dấu chân ngôi sao
                        .title
                            h3 Hoa hậu hoàn vũ
                                br
                                | Đình Long
                    .img
                        img(src="./img/home/attachments/sao2.jpg", alt="")
                    .info
                        span Bộ sưu tập
                        p Chinh phục đỉnh cao