section.dh-tintuc-ct
    .dh-container.no-gutters
        .heading
            .title
                h2 Những mẫu giày cô nàng U20 nhất định phải có!
            .time
                p 28.12.2018
        .fullContent
            b Những mẫu giày đang là "hot trend" với các nàng 20. Nàng hãy nhanh chóng đến với "Thiên đường săn sale" để săn về cho mình nhé!