section.dh-tintuc-ct
    .dh-container.no-gutters
        .heading
            .title
                h2 Những mẫu giày cô nàng U20 nhất định phải có!
            .time
                p 28.12.2018
            
            .fb-like(data-href="https://www.facebook.com/netavietnam/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true")
        .fullContent
            p
                b Những mẫu giày đang là "hot trend" với các nàng 20. Nàng hãy nhanh chóng đến với "Thiên đường săn sale" để săn về cho mình nhé!
            p Đối với những cô nàng 20 tuổi trẻ trung, điều mà nàng cần quan tâm nhất đó chính là vẻ bề ngoài. Những gì nàng khoác lên đều thể hiện một phần con người. Đừng tuềnh toàng để rồi sau này hối hận. Hãy cập nhật xu hướng để đảm bảo rằng bản thân luôn trẻ trung và thời trang.
            p Dưới đây là những sản phẩm tại “Thiên đường săn sale” được các cô nàng 20 ưa chuộng nhất. Cộng thêm ưu đãi khủng từ soái ca thì đây là cơ hội tuyệt vời để nàng làm mới bản thân. Mua sắm những mẫu giày thời trang, hợp xu hướng và không cần phải lo về giá thì ngại gì mà không "chiến" liền nàng nhỉ.
            p
                img(src="./img/tintuc/2.png", alt="")
        .bottom.fb-like(data-href="https://www.facebook.com/netavietnam/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true")
