section.dh-gioithieu-3
    .dh-container
        .dh-wrapper
            h3 Ý TƯỞNG LỚN
            .text
                p “HUG” mang ý nghĩa của những cái ôm chặt, là sự gắn kết giữa câu chuyện kinh nghiệm phát triển và sản xuất các sản phẩm giày gần 30 năm của Đông Hưng. Với điểm mạnh là sử dụng nguồn nguyên liệu cao su tự nhiên 100% tại Việt Nam, chúng tôi tạo nên hàng triệu đôi giày chất lượng quốc tế mỗi năm. Ý nghĩa sâu ở đây chính là các sản phẩm của Đông Hưng đều được trau chuốt từng công đoạn để tạo ra một đôi giày chưa đầy ý nghĩa, tình cảm và sự tự hào của người Việt Nam, qua đó thể hiện ý nghĩa gắn kết bền chặt.
                p Ngoài ra “HUG” được xây dựng theo cảm hứng 5H:
            ul
                li
                    h5 Hertha
                    p Mẹ Trái Đất
                li
                    h5 Happiness
                    p Hạnh Phúc
                li
                    h5 Honor
                    p Sự Tôn Vinh
                li
                    h5 Hawa
                    p Tình Yêu, Hơi Thở Cuộc Sống
                li
                    h5 Herlia
                    p Xinh Đẹp Nhất