section.dh-nav
    .dh-container.no-gutters
        .mobileNav Danh mục
        ul
            li.active
                a(href="javascript:void(0)") Tất cả
            li
                a(href="javascript:void(0)") Basas
            li
                a(href="javascript:void(0)") Vintas
            li
                a(href="javascript:void(0)") Urbas
            li
                a(href="javascript:void(0)") Pattas
            li
                a(href="javascript:void(0)") Creas