section.dh-filter
    .dh-container.no-gutters
        .wrapper
            .row
                .col-xl.filter-item
                    .form-group
                        label Phân loại
                        .custom-select
                            .select-show sale off
                            .select-list
                                ul
                                    li Tất cả
                                    li new
                                    li sale off
                                    li sale off
                                    li sale off
                                    li sale off
                                    li sale off
                                    li sale off
                                    li sale off
                                    li sale off
                                    li sale off
                                    li sale off
                                    li sale off
                .col-xl.filter-item
                    .form-group
                        label Kiểu dáng
                        .custom-select
                            .select-show sale off
                            .select-list
                                ul
                                    li Tất cả
                                    li new
                                    li sale off
                .col-xl.filter-item
                    .form-group
                        label Dòng sản phẩm
                        .custom-select
                            .select-show sale off
                            .select-list
                                ul
                                    li Tất cả
                                    li new
                                    li sale off
                .col-xl.filter-item
                    .form-group
                        label Chất liệu
                        .custom-select
                            .select-show sale off
                            .select-list
                                ul
                                    li Tất cả
                                    li new
                                    li sale off
                .col-xl.filter-item
                    .form-group
                        label Màu sắt
                        .custom-select
                            .select-show sale off
                            .select-list
                                ul
                                    li Tất cả
                                    li new
                                    li sale off