section.dh-slider
    .swiper-container
        .swiper-wrapper
            .swiper-slide
                .item
                    .background(bg-img='./img/home/slider/1.jpg')
                        .middle
                            .background-center(bg-img='./img/home/slider/1.jpg')
                    .content
                        .medium1-2
                            .circle
                        .medium1-2
                            .text
                                h2 Tông màu khuấy đảo đường phố.
                                p Khám phá câu chuyện thương hiệu
                            .button
                                a(href="javascipt:void(0)")
                                    span.button-main Xem chi tiết
                                    span.button-circle
            .swiper-slide
                .item
                    .background(bg-img='./img/home/slider/2.jpg')
                        .middle
                            .background-center(bg-img='./img/home/slider/2.jpg')
                    .content
                        .medium1-2
                            .circle
                        .medium1-2
                            .text
                                h2 Tông màu khuấy đảo đường phố. Tông màu khuấy đảo đường phố.
                                p Khám phá câu chuyện thương hiệu
                            .button
                                a(href="javascipt:void(0)")
                                    span.button-main Xem chi tiết
                                    span.button-circle
                            
            .swiper-slide
                .item
                    .background(bg-img='./img/home/slider/3.jpg')
                        .middle
                            .background-center(bg-img='./img/home/slider/3.jpg')
                    .content
                        .medium1-2
                            .circle
                        .medium1-2
                            .text
                                h2 Tưng bừng khai trương cửa hàng thứ 10.
                                p Khám phá câu chuyện thương hiệu
                            .button
                                a(href="javascipt:void(0)")
                                    span.button-main Xem chi tiết
                                    span.button-circle
            .swiper-slide
                .item
                    .background(bg-img='./img/home/slider/4.jpg')
                        .middle
                            .background-center(bg-img='./img/home/slider/4.jpg')
                    .content
                        .medium1-2
                            .circle
                        .medium1-2
                            .text
                                h2 Tông màu khuấy đảo đường phố.
                                p Khám phá câu chuyện thương hiệu
                            .button
                                a(href="javascipt:void(0)")
                                    span.button-main Xem chi tiết
                                    span.button-circle
            //- .swiper-button-next
            //- .swiper-button-prev
            .swiper-pagination