section.dh-gioithieu-1
    .dh-container
        .item
            .row.no-gutters
                .col-xl-7.content
                    h5 Bối cảnh ra đời
                    p Thương hiệu “HUG” được xây dựng dựa trên bối cảnh nền kinh tế Việt Nam đang rất phát triển, chính trị ổn định. Ngoài ra Việt Nam còn là nước xếp hạng thứ 02 thế giới về XNK giày
                    p Các thương hiệu giày dép nổi tiếng thế giới luôn xem trọng thị trường bán lẻ tại Việt Nam với nhu cầu hàng năm trên 150 triệu đôi giày và giá trị thị trường lên tới 1 tỷ đô la Mỹ
                    p Tỷ trọng giày dép không nhãn mác, giày Fake chiếm hơn 90% tỉ trọng bán lẻ giày dép tại thị trường Việt Nam, khiến cho người tiêu dùng không có các sản phẩm chất lượng cao với giá hợp lý để mua.
                    p Nhà nước kêu gọi người dân ưu tiên sử dụng hàng Việt Nam Chất Lượng Cao.
                .col-xl-5.img
                    img(src="./img/gioithieu/1.png", alt="")
        .item
            .row.no-gutters
                .col-xl-7.img
                    img(src="./img/gioithieu/2.png", alt="")
                .col-xl-5.content
                    h5 CẢM HỨNG Ý TƯỞNG
                    p Với nền tảng kinh nghiệm sản xuất vững chắc và niềm tin về một thương hiệu giày Việt có thể vươn tầm thế giới, cảm hứng của thương hiệu HUG chính là xây dựng nên thương hiệu giày dép hàng đầu với giá bán hợp lý, chất lượng không chỉ đáp ứng người Việt mà còn đạt tiêu chuẩn xuất khẩu quốc tế.
