
header.dh-header
	.top-wrapper
		p HAPPY NEW YEAR 2019: 30% SALE OFF | NHẬN MÃ KHUYỄN MÃI!
	.main-wrapper
		.dh-logo
			a(href="javascript:void(0)")
				img(src="./img/logo.svg", alt="")
		.toggle-button
			.button
	.nav-wrapper
		.nav
			ul
				li
					a(href="javascript:void(0)") Bộ sưu tập
				li
					a(href="javascript:void(0)") Nam
				li
					a(href="javascript:void(0)") Nữ
				li
					a(href="javascript:void(0)") Trẻ em
				li
					a(href="javascript:void(0)") Khuyến mãi
				li
					a(href="javascript:void(0)") Blog
		.last-nav
			.user
				a(href="javascript:void(0)") Đăng nhập
			.shopping
				a(href="javascript:void(0)")
					img(src="./img/shopping.png", alt="")
			.heart
				a(href="javascript:void(0)")
					img(src="./img/heart.png", alt="")
	.header-wrapper
		.dh-container.no-gutters
			.top-nav
				.title
					p Thương hiệu giày dép 
						br
						| chất lượng cao
				.nav-list
					.language
						a(href="javascript:void(0)") English
			.main-nav
				.lg1-2
					.nav-list-active
						.title
							h5 VỀ HUG
						ul
							li
								a(href="javascript:void(0)") Thẻ thành viên
							li
								a(href="javascript:void(0)") Câu chuyện thương hiệu
							li
								a(href="javascript:void(0)") Tuyển dụng
							li
								a(href="javascript:void(0)") Hỏi đáp
							li
								a(href="javascript:void(0)") Chính sách và điều khoản
							li
								a(href="javascript:void(0)") Trở thành nhà phân phối
							li
								a(href="javascript:void(0)") Liên hệ
					.nav-circle
				.lg1-2
					.main-nav-active
					.nav-text
						p Bạn có câu hỏi? Vui lòng 
							a(href="javascript:void(0)") liên hệ chúng tôi.
			.footer-nav
				p Copyright 2019 HUG.
				p Website by Cánh Cam