
header.dh-header
    .top-wrapper
        p HAPPY NEW YEAR 2019: 30% SALE OFF | NHẬN MÃ KHUYỄN MÃI!
    .main-wrapper
        .dh-logo
            a(href="javascript:void(0)")
                img(src="./img/logo.svg", alt="")
        .toggle-button
            .button
    .nav-wrapper
        .nav
            ul
                li
                    a(href="javascript:void(0)") Bộ sưu tập
                li
                    a(href="javascript:void(0)") Nam
                li
                    a(href="javascript:void(0)") Nữ
                li
                    a(href="javascript:void(0)") Trẻ em
                li
                    a(href="javascript:void(0)") Khuyến mãi
                li
                    a(href="javascript:void(0)") Blog
        .last-nav
            ul
                li
                    a(href="javascript:void(0)") Đăng nhập
                li
                    a(href="javascript:void(0)")
                        img(src="./img/shopping.png", alt="")
                li
                    a(href="javascript:void(0)")
                        img(src="./img/heart.png", alt="")
    .header-wrapper
        .container
            .top-nav
                .title
                    p Thương hiệu giày dép 
                        br
                        | chất lượng cao
                .nav
                    ul
                        li
                            a(href="javascript:void(0)") Đăng nhập
                        li
                            a(href="javascript:void(0)")
                                img(src="./img/shopping.png", alt="")
                        li
                            a(href="javascript:void(0)")
                                img(src="./img/heart.png", alt="")