
header.dh-header
    .top-wrapper
        p HAPPY NEW YEAR 2019: 30% SALE OFF | NHẬN MÃ KHUYỄN MÃI!
    .header-wrapper
        .dh-logo
            a(href="javascript:void(0)")
                img(src="./img/logo.svg", alt="")
        .toggle-button
            .button
