section.dh-breadcrumb
    .dh-container.no-gutters
        .breadcrumb-banner(bg-img='./img/breadcrumb.png')
            .title
                h2 Bộ sưu tập Xuân hè 
                    br 
                    | 2019
            .main-breadcrumb
                ol.breadcrumb
                    li 
                        a(href="javascript:void(0)") Trang chủ
                    li 
                        a(href="javascript:void(0)") Bộ sưu tập