section.dh-home-4
    .dh-container
        .wrapper
            .title
                .row.no-gutters
                    .col-lg-6.offset-lg-6
                            h2 Sản phẩm dành cho bạn
            .list-item
                .row.no-gutters
                    .col-lg-4
                        .item(data-speed='3')._gray
                            .heading
                                h4 BASAS HIGH TOP
                            .body
                                .img
                                    img(src="./img/home/product/1a.jpg", alt="")
                                .price
                                    p 360.000 VND
                                .code
                                    p A60010 - DARK BLUE
                                .button
                                    a(href="javascript:void(0)")._gray
                                        span.button-main Chi tiết
                                        span.button-circle 
                    .col-lg-4
                        .item(data-speed='2')._green
                            .heading
                                h4 BASAS HIGH TOP
                            .body
                                .img
                                    img(src="./img/home/product/2a.jpg", alt="")
                                .price
                                    p 360.000 VND
                                .code
                                    p A60010 - DARK BLUE
                                .button
                                    a(href="javascript:void(0)")._green
                                        span.button-main Chi tiết
                                        span.button-circle 
                    .col-lg-4
                        .item(data-speed='1')._yellow
                            .heading
                                h4 BASAS HIGH TOP
                            .body
                                .img
                                    img(src="./img/home/product/3a.jpg", alt="")
                                .price
                                    p 360.000 VND
                                .code
                                    p A60010 - DARK BLUE
                                .button
                                    a(href="javascript:void(0)")._yellow
                                        span.button-main Chi tiết
                                        span.button-circle 
                    .col-lg-4
                        .item(data-speed='2')._gray
                            .heading
                                h4 BASAS HIGH TOP
                            .body
                                .img
                                    img(src="./img/home/product/4a.png", alt="")
                                .price
                                    p 360.000 VND
                                .code
                                    p A60010 - DARK BLUE
                                .button
                                    a(href="javascript:void(0)")._gray
                                        span.button-main Chi tiết
                                        span.button-circle 
                    .col-lg-4
                        .item(data-speed='3')._green
                            .heading
                                h4 BASAS HIGH TOP
                            .body
                                .img
                                    img(src="./img/home/product/5a.jpg", alt="")
                                .price
                                    p 360.000 VND
                                .code
                                    p A60010 - DARK BLUE
                                .button
                                    a(href="javascript:void(0)")._green
                                        span.button-main Chi tiết
                                        span.button-circle 
                    .col-lg-4
                        .item(data-speed='4')._yellow
                            .heading
                                h4 BASAS HIGH TOP
                            .body
                                .img
                                    img(src="./img/home/product/6a.jpg", alt="")
                                .price
                                    p 360.000 VND
                                .code
                                    p A60010 - DARK BLUE
                                .button
                                    a(href="javascript:void(0)")._yellow
                                        span.button-main Chi tiết
                                        span.button-circle 