section.dh-gioithieu-2
    .dh-container
        .dh-wrapper
            h3 ĐIỂM CHÍNH THƯƠNG HIỆU
            .row.list-item
                .col-lg.item
                    figure
                        .icon
                            img(src="./img/gioithieu/3.png", alt="")
                        figcaption
                            h5 01. Quality Control
                            p Chất lượng sản phẩm luôn được đặt lên hàng đầu, với sự áp dụng các công nghệ tiên tiến hàng đầu thế giới.
                .col-lg.item
                    figure
                        .icon
                            img(src="./img/gioithieu/4.png", alt="")
                        figcaption
                            h5 01. Quality Control
                            p Chất lượng sản phẩm luôn được đặt lên hàng đầu, với sự áp dụng các công nghệ tiên tiến hàng đầu thế giới.
                .col-lg.item
                    figure
                        .icon
                            img(src="./img/gioithieu/5.png", alt="")
                        figcaption
                            h5 01. Quality Control
                            p Chất lượng sản phẩm luôn được đặt lên hàng đầu, với sự áp dụng các công nghệ tiên tiến hàng đầu thế giới.
                .col-lg.item
                    figure
                        .icon
                            img(src="./img/gioithieu/6.png", alt="")
                        figcaption
                            h5 01. Quality Control
                            p Chất lượng sản phẩm luôn được đặt lên hàng đầu, với sự áp dụng các công nghệ tiên tiến hàng đầu thế giới.
                .col-lg.item
                    figure
                        .icon
                            img(src="./img/gioithieu/7.png", alt="")
                        figcaption
                            h5 01. Quality Control
                            p Chất lượng sản phẩm luôn được đặt lên hàng đầu, với sự áp dụng các công nghệ tiên tiến hàng đầu thế giới.